body {
  margin: 0;
  font-family: "Share Tech", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.2rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0;
}

h1,
h2 {
  width: fit-content;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 15px 20px;
  color: hsl(41, 70%, 55%);
  border: 1px solid hsl(41, 70%, 55%);
  border-radius: 20px;
}
